#파일입출력

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount = True)

Mounted at /content/drive

In [ ]:
import os
os.chdir('/content/drive/MyDrive/Colab Notebooks')
print(os.getcwd())

/content/drive/MyDrive/Colab Notebooks

In [2]:
#my_file 파일 생성
import os
os.chdir('/content/drive/MyDrive/Colab Notebooks')

file = open('my_file', 'w')
file.write('banana, apple, grape')

20

In [3]:
#open()
file_path = '/content/drive/MyDrive/Colab Notebooks/my_file'

file = open(file_path, "r")
print(file)

#close()
file.close() #저장 후 닫기

<_io.TextIOWrapper name='/content/drive/MyDrive/Colab Notebooks/my_file' mode='r' encoding='utf-8'>

In [4]:
#read()
file_path = '/content/drive/MyDrive/Colab Notebooks/my_file'

file = open(file_path, "r")
text = file.read()
print(text)

banana, apple, grape

In [5]:
#read()_ split()
file_path = '/content/drive/MyDrive/Colab Notebooks/my_file'

file = open(file_path, "r")
text = file.read()
text_lines = text.split("\n")
print(text_lines)

['banana = 2,000', 'apple = 3,000 ', 'grape =5,000']

In [9]:
file_path = '/content/drive/MyDrive/Colab Notebooks/my_file'

file = open(file_path, "w")
file.write("orange\n")
file.write("melon")

file.close()

In [10]:
file_path = '/content/drive/MyDrive/Colab Notebooks/my_file2'

file = open(file_path, "w")
file.write("orange\n")
file.write("melon")

file.close()

In [6]:
file_path = '/content/drive/MyDrive/Colab Notebooks/my_file2'

file = open(file_path, "a")
file.write("\nbanana\napple")

file.close()

In [ ]:
#예제
#names_price.txt
#banana, 2000
#apple, 1500
#
#grape, 3000

file.open("names_price.txt", "r")
text = file.read()
lines = text.split("\n")
file.close()

name0 = lines[0].split(",")[0]
name1 = lines[1].split(",")[0]
name2 = lines[2].split(",")[0]
names = [name0,name1, name2]
price0 = lines[0].split(",")[1]
price1 = lines[1].split(",")[1]
price2 = lines[2].split(",")[1]
prices = [price0, price1, price2]

file = open("names_price_k.txt", "w")
prices[0] = prices[0] / 1000
prices[1] = prices[1] / 1000
prices[2] = prices[2] / 1000

file.write("{}, {}k\n".format(names[0], prices[0]))
file.write("{}, {}k\n".format(names[1], prices[1]))
file.write("{}, {}k\n".format(names[2], prices[2]))
file.close()

#위 코드에서 12번째 줄(price2 = lines[2].split(",")[1])은 실행시 아래의 에러를 발생시킨다.
#price2 = lines[2].split(",")[1]
#IndexError: list index out of range
#왜일까
#lines[2]: names_price.txt 파일의 세번째 줄을 담고 있는 문자열
#그러나, 현재 비어있음 > split시, 빈 문자열이 담긴 list가 됨.
#따라서, 이 list에서 [1]을 통해 두 번째 요소로 접근시 error 발생.

#names_price.txt에서 세번째 줄은 데이터가 없이 공백이다. 코드에서 다섯 번째 줄에서 lines.pop()함수를 이용하여 공백인 데이터를 제거하려 할 때, lines.pop() 함수의 입력값은?
#답
#2

#공백 데이터를 제거한 후 코드를 실행하면 16,17,18번째 줄에서 에러가 발생한다.
#왜일까
#리스트변수 prices의 변수들은 문자열의 split(",")함수의 [1]번째 요소가 대입된 것이다.
#즉, 자료형은 문자열
#따라서, 나눈셈 수행 불가능