# 4주차

In [ ]:
n = [1, 2, 3, 4]

In [ ]:
n= [0, 0, 0, 0]
n[0] = int(input("첫번째 숫자: "))
n[1] = int(input("두번째 숫자: "))
n[2] = int(input("세번째 숫자: "))
n[3] = int(input("네번째 숫자: "))
print(n[0], n[1], n[2], n[3])

In [ ]:
madelist = []

In [ ]:
strlist = ["APPLE", "BANANA"]

In [ ]:
mixedlist = ["APPLE", "BANANA", 1, 2, 3]

In [ ]:
madelist = []
print(madelist)

madelist.append(0)
madelist.append(1)
print(madelist)

In [ ]:
madelist = []
print(madelist)

for i in range(0, 10) :
  madelist.append(0)

print(madelist)

In [ ]:
madelist = []
print(madelist)

for i in range(0, 1000) :
  madelist.append(i)

print(madelist)

In [46]:
#직접해보기_try
madelist = []

for i in range(0, 1000) :
  A = 2 * i

madelist.append(0)
madelist.append(A)

print(madelist)

[0, 1998]

In [45]:
#직접해보기_S
madelist = []

for i in range(0, 1000) :
  if i % 2 == 0 :
    madelist.append(i)

print(madelist)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498, 500, 502, 504, 506, 508, 510, 512, 514, 516, 518, 520, 522, 524, 526, 528, 530, 532, 534, 536, 538, 540, 542, 544, 546, 548, 550, 552, 554, 556, 558, 560, 562, 564, 566, 568, 570, 572, 574, 576, 578, 580, 582, 584, 586, 588, 590, 592, 594, 596, 598, 600, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 640, 642, 644, 646, 648, 650, 652, 654, 656, 658, 660, 662, 664, 666, 668, 670, 672, 674, 676, 678, 680, 682, 684, 686, 688, 690, 692, 694, 696, 698, 700, 702, 704, 706, 708, 710, 712, 714, 716, 718, 720, 722, 724, 726, 728, 730, 732, 734, 736, 738, 740, 742, 744, 746, 748, 750, 752, 754, 756, 758, 760, 762, 764, 766, 768, 770, 772, 774, 776, 778, 780, 782, 784, 786, 788, 790, 792, 794, 796, 798, 800, 802, 804, 806, 808, 810, 812, 814, 816, 818, 820, 822, 824, 826, 828, 830, 832, 834, 836, 838, 840, 842, 844, 846, 848, 850, 852, 854, 856, 858, 860, 862, 864, 866, 868, 870, 872, 874, 876, 878, 880, 882, 884, 886, 888, 890, 892, 894, 896, 898, 900, 902, 904, 906, 908, 910, 912, 914, 916, 918, 920, 922, 924, 926, 928, 930, 932, 934, 936, 938, 940, 942, 944, 946, 948, 950, 952, 954, 956, 958, 960, 962, 964, 966, 968, 970, 972, 974, 976, 978, 980, 982, 984, 986, 988, 990, 992, 994, 996, 998]

In [48]:
n =[]
for i in range(0, 4) :
  n.append(0)

for i in range(0, 4) :
  n[i] = int(input("숫자: "))

print(n)

숫자: 5
숫자: 6
숫자: 1
숫자: 7
[5, 6, 1, 7]

In [50]:
madelist= []
for i in range(0, 10) :
  madelist.append(i)

print(madelist)
print("madelist[-1]은", madelist[-1], "이다.")
print("madelist[-2]은", madelist[-2], "이다.")
print("madelist[-3]은", madelist[-3], "이다.")

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
madelist[-1]은 9 이다.
madelist[-2]은 8 이다.
madelist[-3]은 7 이다.

In [52]:
madelist = []

for i in range(0 ,10) :
  madelist.append(i)

print(madelist)
print(madelist[0: 11])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
madelist = []

for i in range(0 ,10) :
  madelist.append(i)

print(madelist)
print(madelist[0: 5])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4]

In [54]:
madelist = []

for i in range(0 ,10) :
  madelist.append(i)

print(madelist)
print(madelist[2: ])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]

In [55]:
madelist = []

for i in range(0 ,10) :
  madelist.append(i)

print(madelist)
print(madelist[ :5])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4]

In [56]:
firstlist = []
secondlist = []

for i in range(0,5) :
  firstlist.append(i)
for i in range(5,10) :
  secondlist.append(i)

print(firstlist)
print(secondlist)
print(firstlist + secondlist)

[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
madelist = []

for i in range(0,10) :
  madelist.append(i)

print(madelist)
print(madelist * 2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [58]:
madelist = []

for i in range(0, 10) :
  madelist.append(i)

print(madelist)

madelist[0] = 10
print(madelist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
madelist = []

for i in range(0, 10) :
  madelist.append(i)

print(madelist)

madelist[1: 2] = [10, 10]
print(madelist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 10, 10, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
madelist = []

for i in range(0, 10) :
  madelist.append(i)

print(madelist)

madelist[1] = [10,10]
print(madelist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, [10, 10], 2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
#직접해보기
#10개의 수를 입력받아 리스트를 생성하고 뒤에서부터 거꾸로 출력하세요.

madelist = []

for i in range(0, 10) :
  print(int(input(i + "번째 숫자를 입력하세요.")))  #i는 정수이고, 번째~는 문자열이기 때문에 문자열끼리 연결이 불가해서 에러 발생
  print(i)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [78]:
#직접해보기
#10개의 수를 입력받아 리스트를 생성하고 뒤에서부터 거꾸로 출력하세요.
#정답

madelist = []

for i in range(0, 10) :
  num = int(input(str(i) + "번째 숫자를 입력하세요."))
  print(num)
  madelist.append(num)

madelist.reverse()

print(madelist)

0번째 숫자를 입력하세요.0
0
1번째 숫자를 입력하세요.1
1
2번째 숫자를 입력하세요.2
2
3번째 숫자를 입력하세요.3
3
4번째 숫자를 입력하세요.4
4
5번째 숫자를 입력하세요.5
5
6번째 숫자를 입력하세요.6
6
7번째 숫자를 입력하세요.7
7
8번째 숫자를 입력하세요.8
8
9번째 숫자를 입력하세요.9
9
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]