조건문 if

In [ ]:
n = 90
if n >= 80:
  print("시험에 합격하셨습니다.")

시험에 합격하셨습니다.

In [ ]:
n = 60
if n > 60:
  print("시험에 합격하셨습니다.")

In [7]:
n = 50

if n >= 80:
  print("시험에 합격하셨습니다.")
  print("축하합니다.")

print("프로그램을 종료합니다.")

프로그램을 종료합니다.

In [9]:
# 리스트와 내장함수 사용
if sum([1, 2, 3]) > 10:
  print([1, 2, 3])

print("out of it")

out of it

In [11]:
if 3:
  print("three")

if 0:
  print("zero")

# 숫자 0은 프로그래밍에서 false를 의미한다.
# 숫자 1은 프로그래밍에서 true를 의미한다. 그러나, 이 프로그래밍에서는 0만 아니면 true로 인식.

three

In [15]:
if "apple":
  print("apple")

if "":
  print("banana")

if "   ":
  print("grape")
# 문자 역시 마찬가지.
# 빈 문자열(false)를 제외한 나머지(빈 칸 포함)는 true로 인식한다.

apple
grape

In [18]:
if [1, 2, 3]:
  print("list")

if []:
  print("empty")

# list도 마찬가지.
# 요소가 하나라도 있으면 true, 없는 빈 list일 경우 false로 인식한다.

list

In [19]:
# 문자열 in
j = ".jpg"

if j in "cat.jpg":
  print("cat")

if j in "dog.png":
  print("dog")

cat

조건문 if-else

In [22]:
n = 90
if n >= 80:
  print("시험에 합격하셨습니다.")
else:
  print("시험에 불합격하셨습니다.")

print("프로그램을 종료합니다.")

시험에 합격하셨습니다.
프로그램을 종료합니다.

In [26]:
# 직접해보기
a = int(input())
print("숫자 -->", a)

if "a % 2 = 0":
  print("짝수입니다.")
else:
  print("홀수입니다.")

12
숫자 --> 12
짝수입니다.

In [35]:
# 직접해보기
n = int(input("정수를 입력하시오. "))

if n >= 10:
  print(n,"을 10배 한 결과는", n * 10,"입니다.")

print("프로그램을 마칩니다.")

정수를 입력하시오. 12
12 을 10배 한 결과는 120 입니다.
프로그램을 마칩니다.

In [37]:
# 직접해보기
a = float(input("숫자 --> "))

if a < 0:
  print("결과는", abs(a))

else:
  print("결과는", a)

숫자 --> -5
결과는 5.0